!.gitkeep
.DS_Store
.env
.idea/
.vs/
.vscode/
*.log
node_modules/
thumbs.db
.omc

# npm package
.npmrc
npm-debug.log.*
.pnpm-store

# Eslint Cache
.eslintcache*

*.provisionprofile
build/*.plist
dist

# release
release

# tauri
src-tauri/target
src-tauri/gen

TODO